@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Microsoft.CodeAnalysis
@using Microsoft.CodeAnalysis.CSharp
@using Org.BouncyCastle.Asn1.Ocsp
@using Request = Twilio.Http.Request
@model UserAdminViewModel
@{ ViewBag.Title = "UserAdminMyUsers";
    Layout = "_Layout";
}
@functions{
    public void sortIt()
    {
        Model.MyUsers.Sort((res1, res2) => res1.PaymentDueDate.CompareTo(res2.PaymentDueDate));
    }
}

<div class="table-responsive">
    <div>
        <img class="rounded float-right imghoover" style="max-width: 120px;" src="~/Images/logo.png"/>
        <h2>My users</h2>
    </div>
    <br/>

    <div>
        <a class="btn btnColor raise " type="button" asp-area="Identity" asp-page="/Account/Register">Add user</a>
        <a class="btn btnColor raise text-white" type="button" onclick="location.href = '@Url.Action("GenerateMyUsersReport", "UserAdmin")'">Save complete report</a>
        <br/><br/>

        <div >
            <label>Find by name:</label>
            @using (Html.BeginForm("SearchUser", "UserAdmin"))
            {
                <input type="text" name="nameinput"/>
                <input type="submit" class="btn btnColor raise "/>
            }
        </div>
        <br />
    </div>
        <p class="noShow">Hover over "Name" or "Payment due date" for sorting </p>

    <div>
        <table class="mytable table-striped" id="sortingID">
            <thead class="headColor">
            <tr >
                <th onclick="location.href = '@Url.Action("SortName", "UserAdmin")'" data-toggle="tooltip" data-placement="top" title="Press for name sorting, A-Z">
                    Name
                </th>
                <th >
                    Phone
                </th>
                <th >
                    Email
                </th>
                <th >
                    Address
                </th>
                <th >
                    Paymentmethod
                </th>
                <th onclick="location.href = '@Url.Action("SortDate", "UserAdmin")'" data-toggle="tooltip" data-placement="top" title="Press for date sorting">
                    Payment due date
                </th>
                <th >
                   Active
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.MyUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.StreetAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActiveUser)
                    </td>
                    <td>
                        <input type="button" id="InputButtonUserAdmin" style="background-color: lightgray" value="Edit" onclick="location.href = '@Url.Action("EditUser", "UserAdmin", new {email = item.Email})'"/> |
                        <input type="button" id="InputButtonUserAdmin" style="background-color: lightgray" value="History" class="btn-primary" onclick="$('#@item.Id').collapse('toggle')"/> |
                        <input type="button" id="InputButtonUserAdmin" style="background-color: lightgray" value="Delete" onclick="location.href = '@Url.Action("DeleteUser", "UserAdmin", new {username = item.Email})'"/>
                    </td>
                </tr>
                <tr id="">
                    <td colspan="6">
                        <div class="collapse testAlignText" id="@item.Id">
                            @if (item.LaundryHistory.Count == 0)
                            {
                                <p>There is no laundry history</p>
                            }
                            else
                            {
                                foreach (var logEntry in item.LaundryHistory)
                                {
                                    <label style="padding-right: 8px">Date: </label>
                                    @Html.DisplayFor(modelItem => logEntry.LogDate)
                                    <label style="padding-left: 20px">Info: </label>
                                    @Html.DisplayFor(modelItem => logEntry.LogInfo)
                                    <br/>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script>
    
</script>

