@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Microsoft.CodeAnalysis.CSharp
@model UserAdminViewModel
@{ ViewBag.Title = "UserAdminMyUsers";
    Layout = "_Layout"; }

<div>
    <br />
    <h4> All my users:</h4>
    <br />

    <div >
        <a class="btn btn-primary" type="button" asp-area="Identity" asp-page="/Account/Register">Add user</a>
    </div>
    <br /><br />
    <div>
        <table class="mytable">
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Phone
                    </td>
                    <td>
                        Email
                    </td>
                    <td>
                        Address
                    </td>
                    <td>
                        Paymentmethod
                    </td>
                    <td>
                        Payment due date
                    </td>
                    <td>
                        @Html.Display("Actions")
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MyUsers)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDueDate)
        </td>
        <td>
            <input type="button" id="InputButtonUserAdmin" value="Edit" onclick="location.href = '@Url.Action("EditUser", "UserAdmin", new {email = item.Email})'" /> |
            <input type="button" id="InputButtonUserAdmin" value="Delete" onclick="location.href = '@Url.Action("DeleteUser", "UserAdmin", new {email = item.Email})'"/> |
            <input type="button" id="InputButtonUserAdmin" value="History" class="btn-primary" />
        </td>
    </tr>
    <tr id="">
        <td colspan="6">
            <div class="collapse testAlignText">
                @foreach (var logEntry in item.LaundryHistory)
                {
                    @Html.DisplayFor(modelItem => logEntry.LogDate)
                    @Html.DisplayFor(modelItem => logEntry.LogInfo)
                    <br />
                }
            </div>
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".btn-primary").click(function () {
            $(".collapse").collapse('toggle');
        });
    });
</script>

