@using System.Linq
@model LaundryTime.ViewModels.BookingListViewModel
@*@model LaundryTime.Models.Calender.DatePickerModel*@

<head>
    @* Calender date picker *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>

<body>
    <h1>booking</h1>

    <div>
        <br />
        <h4>Select a date</h4>

        @using (Html.BeginForm())
            {
                @foreach (var model in Model.DatePickerModels)
                {
                @Html.EditorFor(modelItem => model, new { htmlAttributes = new { @class = "datepicker", @Type = "date" } })
                }
            }


        <br />
    </div>


    @section Scripts
    {
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".datepicker").datepicker({
                    dateFormat: "dd-mm-yy",
                    changemonth: true,
                    changeyear: true
                });
            });
        </script>
    }
    <p>This is a Calender for Landry Time.</p>


    @* Remove style for final version *@
    <table class="table">
        <thead>
            <tr>
                <th>Time:</th>
                <th>Type:</th>
                <th>Number:</th>
                <th>Book now:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Machines)
            {

                DateTime date = DateTime.Parse("22-04-2021");
                if (item.InstallationDate == date)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstallationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModelNumber)
                        </td>
                        <td>
                            <a asp-action="Book" asp-route-id="@Model.BookingID">Book now</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>

</body>